<!DOCTYPE html>
<html>

<head>
    <!-- Required Stuff -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kawaii.sh</title>
    <link rel="stylesheet" href="/assets/libs/bulma-0.8.0/css/bulma.min.css">
    <script defer src="/assets/libs/fontawesome-5.12.1/js/all.js"></script>
    <script src="/assets/libs/axios.min.js"></script></script>
    <script src="/assets/libs/jquery-3.4.1.min.js"></script></script>

    <%- include('partials/meta'); %>
</head>

<body>
  <section class="hero is-success is-fullheight has-background-black">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div id="randomMascot">
          <img style="max-height: 400px;" src="/assets/mascots/<%= Math.floor(Math.random() * (16 - 1)) + 1 %>.png">
        </div>
        <%- include('partials/tag') %>
        <div style="display: flex; justify-content: center; margin-top: -10px;"
          class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-dark">Uploads</span>
              <span id="count" class="tag is-info"><%= filecount %></span>
            </div>
          </div>
        </div>
        <%- include('partials/footer'); %>
      </div>
    </div>
  </section>
</body>

</html>